/* input styles */

.cur_track_extension__group {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 300px;
}
.cur_track_extension__input {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border: none;
  border-bottom: 1px solid #757575;
}
.cur_track_extension__input:focus {
  outline: none;
}

/* LABEL ======================================= */
.cur_track_extension__input__label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
}

/* active state */
.cur_track_extension__input:focus ~ .cur_track_extension__input__label,
.cur_track_extension__input:disabled ~ .cur_track_extension__input__label,
.cur_track_extension__input:valid ~ .cur_track_extension__input__label {
  top: -20px;
  font-size: 14px;
  color: #282828;
}

/* active state */
.cur_track_extension__input:focus ~ .cur_track_extension__bar:before,
.cur_track_extension__input:focus ~ .cur_track_extension__bar:before {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.cur_track_extension__highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
